body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

p {
  line-height: 2;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #66BFBF;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.navbar-brand {
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 2.5rem !important;
  color: #66bfbf !important;
  font-weight: 600;
}

.navigation {
  margin-bottom: 5%;
}

.navOpacity:hover {
  opacity: 0.5;
}

.nav-link {
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 2rem !important;
  color: #66bfbf !important;
  font-weight: 400;
}

.top-cloud {
  position: absolute;
  left: 70%;
  top: 5%;
  padding-top: 4%;
}

.bottom-cloud {
  position: absolute;
}

.profile-pic {
  width: 20%;
  margin-bottom: 5%;
  border-radius: 50%;
}

.intro-paragraph {
  width: 30%;
  margin: auto;
}

.introductionC {
  padding-top: 10%;
  position: relative;
  top: 10%;
  width: 100%;
  margin-bottom: 7%;
}

.hr {
  border: dotted #214151 6px;
  border-bottom: none;
  width: 7%;
  margin: 100px auto;
  background-color: white;
}

#projects {
  text-align: center;
}

.projectsC {
  background-color: #f5f4f4;
  padding: 10% 0 10%;
}

.projectTitle {
  font-size: 6rem;
  margin-bottom: 5%;
  text-decoration: underline;
}

.projectDescription {
  width: 60%;
  margin: 0 5% 0 20%;
  padding-bottom: 5%;
}

#education {}

.educationC {
  margin-top: 5%;
  text-align: left;
  margin: 5% 0 7% 20%;
}

.educationC h3 {
  font-size: 1.1rem;
  color: #66bfbf;
}

.icon {
  margin-top: 3%;
  font-size: 5rem;
  color: #66BFBF;
  text-align: center;
}

.eduTitle {
  font-size: 6rem;
  margin-bottom: 5%;
  text-decoration: underline;
}

.skills {
  padding-top: 5%;
  background-color: #f5f4f4;
padding-bottom: 6%;
}

.skills h1 {
  font-size: 6rem;
  margin-bottom: 5%;
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.programming-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.contact-me{
  padding: 15% 0 15% 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.footer-link {
  color: #11999E;
}

.contact-paragraph {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -moz-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -ms-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -o-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -webkit-gradient(to bottom, #66BFBF, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #DD380D 0;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
